{% extends "bootstrap/base.html" %} {% block title %}My Flask App with
Bootstrap{% endblock %} {% block styles %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('general_bp.static', filename='styles/index.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('general_bp.static', filename='styles/nav.css') }}"
/>
{% endblock %} {% block navbar %} {% include "general/nav.html" %} {% endblock
%} {% block content %}

<div>
  <div class="container-fluid">
    <div class="d-flex title-section">
      <h1>Welcome to Our Online Shop!</h1>
      
      <div class="sort-controls sort-controller">
        <label for="sort-by" class="lead">Sort by:</label>
        <select id="sort-by">
          <option value="name" {% if default_sort_by == 'name' %} selected {% endif %}>Name</option>
          <option value="price" {% if default_sort_by == 'price' %} selected {% endif %}>Price</option>
          <option value="environmental_impact" {% if default_sort_by == 'environmental_impact' %} selected {% endif %}>Environmental Impact</option>
        </select>
      </div>
    </div>
  </div>
  <div id="container">
    <div class="row card-container" id="items-container">
      {% for product in products %}
      <div
        class="col-md-3 col-sm-6 col-xs-12 single-card"
        data-product-id="{{product.id}}"
      >
        <a href="{{url_for("products_bp.view_product", product_id=product.id)}}">
          <img
            class="image"
            src="{{product.picture_url}}"
            alt="{{product.name}}"
          />
        </a>
        <p class="lead lead-text text-center">
          {{product.name}} - ${{product.price}}
        </p>
        <p class="text-center">
          Environmental Impact: {{product.environmental_impact}}
        </p>
        <div class="btn-container">
          <button
            type="button"
            class="btn-primary btn button"
            onclick="addToCart({{product.id}})"
          >
            Add to Cart
          </button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('general_bp.static', filename='scripts/index.js') }}"></script>
</div>
{% endblock %}
